In [1]:
# Introduction to DataFrame:

In [3]:
#Definition - A DataFrame is a two dimensional data structure.

In [4]:
import numpy as np
import pandas as pd

In [ ]:
General syntax of a DataFrame - pandas.DataFrame (data,index,columns,dtype)

In [ ]:
Creating an empty DataFrame :

In [5]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
data = [1,2,3,4,5]
df = pd.DataFrame (data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
data = [1,2,3,4,5],[6,7,8,9,10]
df = pd.DataFrame (data)
print(df)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [8]:
data = [[1,2,3,4,5],[6,7,8,9,10]]
df = pd.DataFrame (data)
print(df)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [9]:
data = [['faiyaz',55],['shankar',45],['hari',50],['hepsibha',48]]
df = pd.DataFrame(data,columns = ['name','marks'])
print(df)

       name  marks
0    faiyaz     55
1   shankar     45
2      hari     50
3  hepsibha     48

In [10]:
data = ['faiyaz',55],['shankar',45],['hari',50],['hepsibha',48]
df = pd.DataFrame(data,columns = ['name','marks'])
print(df)

       name  marks
0    faiyaz     55
1   shankar     45
2      hari     50
3  hepsibha     48

In [11]:
data = [['faiyaz',55],['shankar',45],['hari',50],['hepsibha',48]]
df = pd.DataFrame(data,columns = ['name','marks'],dtype = float)
print(df)

       name  marks
0    faiyaz   55.0
1   shankar   45.0
2      hari   50.0
3  hepsibha   48.0

In [ ]:
Creating a DataFrame by using a dictionary of ndarrays : 
    "Dictionary keys will act as 'COLUMN NAMES'

In [12]:
data = {'Name':['shaik','bruce','peter','bhabani'],'Age':[28,32,21,24]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    shaik   28
1    bruce   32
2    peter   21
3  bhabani   24

In [13]:
data = {'Name':['shaik','bruce','peter','bhabani'],'Age':[28,32,21,24]}
df = pd.DataFrame(data,index = ['Rank1','Rank2','Rank3','Rank4'])
print(df)

          Name  Age
Rank1    shaik   28
Rank2    bruce   32
Rank3    peter   21
Rank4  bhabani   24

In [14]:
data = {'Name':['shaik','bruce','peter','bhabani'],'Age':[28,32,21,24]}
df = pd.DataFrame(data,index = ['Rank2','Rank1','Rank4','Rank3'])
print(df)

          Name  Age
Rank2    shaik   28
Rank1    bruce   32
Rank4    peter   21
Rank3  bhabani   24